[Unit]
Description=Baresip SIP User-Agent
After=dbus.service

[Service]
Type=simple
TimeoutSec=5
ExecStart=/usr/bin/baresip -f /etc/baresip
DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
User=root
Restart=no

[Install]
WantedBy=multi-user.target
