[Unit]
Description=Baresip SIP User-Agent
After=dbus.service

[Service]
Type=simple
TimeoutSec=5
ExecStart=/usr/bin/baresip -f /etc/baresip
User=root
Restart=no

[Install]
WantedBy=multi-user.target
